body {
    margin: auto;
    padding: auto;
}

.bodyInicio{
    background-image: url("../assets/img/fondo/black-brick-wall-textured-background.jpg");
    background-size: auto;
}

.box {
    background-image: url("../assets/img/fondo-desarrollo-aplicaciones-moviles_73903-295.jpg");
    background-position: center;
    background-size: 100%;
}


.logoV{
    width:150px;
    position: relative;
    left: 29%;
}

.nav-link {
    color: white;
    font-size:20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Lora', serif;
}

.nav-link:hover {
    color:yellowgreen;
}

.nav-producto{
    padding: 1px;
    border-bottom: 3px solid rgb(205, 207, 200);
}

.nav-contacto{
    padding: 1px;
    border-bottom: 3px solid rgb(205, 207, 200);
}

.nav-inicio{
    padding: 1px;
    border-bottom: 3px solid rgb(205, 207, 200);
}

.productosContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productoBox{
    height:100%;
    width:40%;
    margin: 10px;
    padding: 5px;
    border: 1px  grey;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    background-color: white;
}

.productoImg{
    width: 130px;
    height: 130px;
}

.btn{
    border: 0.5px solid grey;
    width:90px;
}

.footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.titleFooter{
    font-size:19px;
    text-decoration: none;
    color:white;
}

.logoFooter{
    width:30px;
    height:30px;
    margin:0 10px 0 10px;
    color:white;
}

.carousel{
    display:flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 1px 1px 20px grey;
    background-color: white;
}

.titleModelo{
    height:30px;
    font-size: 15px;
    margin-bottom: 5%;
}

.p_box{
    margin: 0;
    padding:0;
}


.page-form{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group{
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%), linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%), linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%), linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%), linear-gradient(90deg, #09c9ba, #1283dd);
    width: 22rem;
    height: 22rem;
    margin: auto;
    margin-top: 5rem;
    background-color: white;
    border-radius: 10px;
}
.box-div input{
    margin-top: 15px;
    width: 250px;
}
.box-div textarea{
    resize: none;
    width: 250px;
    height: 100px;
    margin-top: 15px;
}
.box-div button{
    width: 250px;
    margin-top: 15px;
    border: 0px;
    padding: 10px 40px;
    color: white;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

/* contacto */

.body-contact{
    margin:0;
    padding:0;
    font-family: sans-serif;
  }

  .login-box {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(156, 148, 148, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 28px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .login-box .user-box textarea {
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  textarea::placeholder {
    color: rgb(189, 182, 182);
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label, 
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .form-select{
    box-shadow: 0px 0px 3px #03e9f4;
  }
   
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  .footerContacto{
    margin-top: 600px;
    display: flex;
    justify-content: center;
}
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }